In [1]:
import pandas as pd

In [10]:
data_19 = pd.read_csv("startup_funding2019(Clean_Data).csv")
data_20 = pd.read_csv("2020_dataset_ver4.csv")
data_21 = pd.read_csv("clean_data2021.csv")

In [11]:
data_19.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,2015,Bangalore,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000,Unknown
1,Ruangguru,2014,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000,Series C

In [12]:
data_20.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Aqgromalin,2019,Chennai,Agritech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000,Stage_unknown
1,Krayonnz,2019,Bangalore,Edtech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000,Pre-seed

In [13]:
data_21.head(2)

,Company/Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First",1200000.0,Pre-series A
1,upGrad,2015,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management",120000000.0,Unknown

In [14]:
# You can concatenate this with other DataFrames to get one data set for your work

df = pd.concat([data_19, data_20, data_21])
df.to_csv('combined_data.csv')

In [15]:
df.head()

,Company/Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,2015,Bangalore,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,6300000.0,Unknown
1,Ruangguru,2014,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,150000000.0,Series C
2,Eduisfun,2015,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey",28000000.0,Fresh funding
3,HomeLane,2014,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...",30000000.0,Series D
4,Nu Genes,2004,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),6000000.0,Unknown

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2321 entries, 0 to 1179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2321 non-null   object
 1   Founded        2321 non-null   int64
 2   HeadQuarter    2229 non-null   object
 3   Sector         2321 non-null   object
 4   What_it_does   2321 non-null   object
 5   Founders       2321 non-null   object
 6   Investor       2321 non-null   object
 7   Amount($)      2321 non-null   float64
 8   Stage          2321 non-null   object
dtypes: float64(1), int64(1), object(7)
memory usage: 181.3+ KB